# Server
PORT=3000
HOST=0.0.0.0
NODE_ENV=development

# Providers selection (values: sendgrid, twilio)
NOTIFICATION_PROVIDER_EMAIL=sendgrid
NOTIFICATION_PROVIDER_SMS=twilio

# SendGrid (Email)
SENDGRID_API_KEY=your-sendgrid-api-key
SENDGRID_FROM_EMAIL=no-reply@example.com

# Twilio (SMS)
TWILIO_ACCOUNT_SID=your-twilio-account-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_FROM_NUMBER=+1234567890
